
<div>
  <div>
    <h1>
      List of my rentals
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        

        <th>
          Gear
        </th>

        <th>
          Check out date
        </th>

        <th>
          Return date
        </th>

        <th>
          Member
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_rentals.each do |a_rental| %>
      <tr>
       

        <td>
          <%= a_rental.gear.name %>
        </td>

        <td>
          <%= a_rental.check_out_date %>
        </td>

        <td>
          <%= a_rental.return_date %>
        </td>

        <td>
          <%= a_rental.member.first_name %>
        </td>

        <td>
          <%= time_ago_in_words(a_rental.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_rental.updated_at) %> ago
        </td>
   

        <td>
          <a href="/delete_rental/<%= a_rental.id %>">
            Cancel rental
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
