<!DOCTYPE html>
<html>
<head>
<style>
td, th {
 border:2px solid #778899;
 border-right:none;
 border-bottom:none;
}

td:nth-last-child(1) {
 border-right:2px solid #778899;
}

th:nth-last-child(1) {
 border-right:2px solid #778899;
}

table {
 border-bottom:2px solid #778899;
}

h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

.center {
  margin-left: auto;
  margin-right: auto;
}



</style>
</head>
<body>


<div>
  <div>
    <h2>
      List of all gear
    </h2>
  </div>
</div>


<hr>
<div>
  <div>
    <table class="center" cellspacing="0" > 
      <tr>
        

       <th >
          Gear photo
        </th>

        <th>
          Item name and brand
        </th>

        <th>
          Condition
        </th>

        <th>
          Size
        </th>


        <th>
          Last updated 
        </th>

        <th>
          Show details
        </th>
        <th>
          Rent item
        </th>

        
      </tr>

      <% @list_of_gears.each do |a_gear| %>
      <tr>


        <td>
          <img src="<%= a_gear.photo %>" style="max-height:350px;height:100%">
        </td>

        <td>
          <%= a_gear.name %>  
        </td>

        <td>
          <%= a_gear.condition %>
        </td>

        <td>
          <%= a_gear.size %>
        </td>

        <td>
          <%= time_ago_in_words(a_gear.updated_at) %> ago
        </td>

        <td>
          <a href="/gears/<%= a_gear.id %>">
            Show details
          </a>
        </td>

        <td>
          <a href="/rentals/new_rental/<%= a_gear.id %>">
            Rent Item 
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Add a new gear
    </h2>

    <form action="/insert_gear" method="post">
      <div>
        <label for="photo_box">
          Photo
        </label>

        <input type="text" id="photo_box" name="query_photo">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="condition_box">
          Condition
        </label>

        <input type="text" id="condition_box" name="query_condition">
      </div>

      <div>
        <label for="size_box">
          Size
        </label>

        <input type="text" id="size_box" name="query_size">
      </div>

      <button>
        Create gear
      </button>
    </form>
  </div>
</div>

</body>
</html>