<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  <h1> UChicago Outdoor Adventure Club Gear Portal </h1>
  </head>

  <body>
     <ul>
      <% if @current_club_member == nil %>
      
        <li>
          <a href="/club_member_sign_in">
            Sign in
          </a>
        </li>
        
        <li>
          <a href="/club_member_sign_up">
            Sign up
          </a>
        </li>

      <% else %>
        <li>
            Welcome <%= @current_club_member.first_name %>
        </li>


        <li>
          <a href="/edit_club_member_profile">
            Edit <%= @current_club_member.first_name %>
          </a>
        </li>
        
        <li>
          <a href="/club_member_sign_out">
            Sign out
          </a>
        </li>


      <% end %>


      <li>
        <a href="/rentals/my_rentals">
          My reservations 
        </a>
      </li>

      <li>
        <a href="/gears">
          Gear list/make a new reservation  
        </a>
      </li>

    </ul>

    <p style="color: green">
      <%= notice %>
    </p>

    <p style="color: red">
      <%= alert %>
    </p>

    <%= yield %>
  </body>
</html>
