<!DOCTYPE html>
<html>
  <head>
    <title>UChicago Outdoor Adventure Club Gear Portal</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  <h1 class="center"> UChicago Outdoor Adventure Club Gear Portal </h1>
  <style>
.button { color: teal; 
          border: 1px teal solid; 
          padding: 5px 15px; 
          border-radius: 5px; 
          text-decoration: none;
          width: 25%%;
          margin-right: 8px;
          margin-left: 8px;
}

.adminbutton { color: black; 
          border: 1px black solid;
          background: #CD5C5C; 
          padding: 5px 15px; 
          border-radius: 5px; 
          text-decoration: none;
          width: 25%%;
          margin-right: 8px;
          margin-left: 8px;
}
.row {
  display: flex;
  justify-content: center;
  
}

body {
  font-family: font-family: 'Arimo', sans-serif;

}

.center {
  margin-left: auto;
  margin-right: auto;
}


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">

/* mouse over link */
a.over:hover {
  color: #5F9EA0;
}

/* selected link */
a.select:active {
  color: #5F9EA0;
  fill: color
}


  </style>

  
  </head>


  <body>
  
   <% if @current_club_member == nil %>
   <% else %>
   <p class="center"> Welcome <%= @current_club_member.first_name %>
   <% if @current_club_member.admin_code == 60637 %>
   <a class="adminbutton">  Admin </a> 
   <a href="/rentals" class="button" >
            View all rentals and members
          </a>
   <%end%>
   
    </p>
  <% end %>

  
      <% if @current_club_member == nil %>
      
        <div class="row">
        <div>
          <a href="/club_member_sign_in" class="button" class="active" class="hover">
            Sign in
          </a>
          </div>
        
        
    
        <div>
          <a href="/club_member_sign_up" class="button" class="active" class="hover">
            Sign up
          </a>
          </div>
        </div>

      <% else %>
     

        <div class="row">
          <div>
          <a href="/edit_club_member_profile" class="button" class="active" class="hover">
            Edit profile 
          </a>
          </div>
        
        
        
          <div>
          <a href="/club_member_sign_out" class="button" class="active" class="hover">
            Sign out
          </a>
          </div>
        

         <div>
        <a href="/rentals/my_rentals" class="button" class="select" class="over">
          My reservations 
        </a>
        </div>
      

     
        <div>
        <a href="/gears" class="button" class="active" >
          Gear list/make a new reservation  
        </a>
        </div>
      </div>

    

      <% end %>



    <p style="color: green">
      <%= notice %>
    </p>

    <p style="color: red">
      <%= alert %>
    </p>

    <%= yield %>
  </body>
</html>
